<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">

        </div>
        <div class="col-lg-9">
        <h2>{{toy.name}}</h2>
       <img src="{{toy.image}}" class="card-img-top" alt="{{toy.image}}">
        <h4>Price: {{toy.price}}</h4>
        <h4>Quantity: {{toy.quantity}}</h4>
        <h4>{{toy.description}}</h4>

        </div>
    </div>
</div>