<div class="mt-4">
    <div class="row">

        {{#each toys}}
        <div class="col-sm-6 col-lg-4">
            <div class="card card-toys-item">
                <a href="/toys/{{this.slug}}">
                <img src="{{this.image}}" class="card-img-top" alt="{{this.image}}">
                </a>
            
            <div class="card-body">
                <a href="/toys/{{this.slug}}">
                    <h5 class="card-title">{{this.name}}</h5>            
                </a>
                <p class="card-text"><h5>Price: {{this.price}}</h5></p>
                <p class="card-text"><h5>Quantity: {{this.quantity}}</h5></p>
                <p class="card-text">{{this.description}}</p>
            </div>
            </div>
        </div>
        {{/each}}

    </div>
</div>